go 1.21

use (
	./libs/auth
	./libs/logger
	./libs/utils
	./libs/user
	./libs/question

	./services/telemetry_lambda
	./services/auth_lambda
	./services/question_lambda

	./tools/lambda-dev
	./tools/cli
)
